.auth-border { max-width: 420px; }

.form-field-spaced { width: 100%; margin-bottom: 16px; }
.form-field-spaced-lg { width: 100%; margin-bottom: 24px; }

.auth-footer {
  text-align: center;
  padding: 16px;

  span { color: var(--text-lo); font-size: 14px; }
}
