<div class="navbar-glow-line"></div>
<mat-toolbar class="app-navbar">
  <a routerLink="/home" class="brand">
    <span class="brand-icon"><mat-icon>code</mat-icon></span>
    <span class="brand-name">NovaCode</span>
  </a>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a mat-button routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon> Daily Problem
    </a>
    <a mat-button routerLink="/company-tracker" routerLinkActive="active-link">
      <mat-icon>business</mat-icon> Company Tracker
    </a>
    <a mat-button routerLink="/patterns" routerLinkActive="active-link">
      <mat-icon>lightbulb</mat-icon> Pattern Library
    </a>
    <a mat-button routerLink="/constraint-analyzer" routerLinkActive="active-link">
      <mat-icon>analytics</mat-icon> Constraint Analyzer
    </a>
    <a mat-button routerLink="/solve" routerLinkActive="active-link" *ngIf="isLoggedIn">
      <mat-icon>edit_note</mat-icon> Solve Sessions
    </a>
  </nav>

  <ng-container *ngIf="isLoggedIn; else guestNav">
    <span class="username-chip">{{ username }}</span>
    <button mat-button (click)="logout()" class="logout-btn">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </ng-container>

  <ng-template #guestNav>
    <a mat-button routerLink="/login">Login</a>
    <a mat-raised-button color="primary" routerLink="/register" class="signup-btn">Sign Up</a>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
